<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DomainName" value="https://omnisofttech.com"/>
    <add key="HTMLPath" value="E:\Source\Repos\OmniCRM_EmailService\OmniCRM_EmailService"/>
  </appSettings>
  <connectionStrings>
    <add name="OmniCRMEntities" connectionString="metadata=res://*/dbModel.csdl|res://*/dbModel.ssdl|res://*/dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E6530\SQLEXPRESS;initial catalog=OmniCRM;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>